.item {
  color: rgb(31, 5, 122);
  display: flex;
  justify-content: space-between;
}
.btn {
  height: 24px;
  margin-bottom: 8px;
}
.number {
  text-decoration: none;
  color: black;
  margin-left: 18px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
}
.number:hover {
  color: rgb(138, 138, 240);
}
