.form {
  width: 560px;
  margin: 0 auto;
  margin-top: 20px;
}

.input {
  border-color: blue;
  margin-bottom: 20px;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: 700;
}
