.form {
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
    border: 1px dashed gray;
    border-radius: 3px;
    
}
.form__label{
    margin-bottom: 6px;

}
.form__input{
    margin-bottom: 12px;
    height: 18px;
    overflow: hidden;
    border:2px solid blue;
    border-radius: 3px;
}

.form__button{
    width: 90px;
    cursor: pointer;
    background-color: rgb(211, 202, 202);
    border-color: transparent;
    border-radius: 3px;
    margin-top: 15px;
    
}
.form__button:active,
.form__button:hover{
    background-color: rgb(138, 138, 240);
    color: white;
}